._contactBar {
    position: relative;
    text-align: center;
    width: 30%;
    height: 100%;
    min-width: 292px;
    border-right: 1px solid rgb(189, 189, 189);
}

._contactBar h1 {
    opacity: 0.7;
    margin-bottom: 12px;
}

._contactBar .searchBar {
    align-items: left;
}

._contato {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    margin: 4px 0;
    height: 62px;
    padding: 2px 12px;
    border-bottom: 1px solid gray;

    cursor: pointer;
}

._contato:hover {
    background-color: rgb(241, 241, 241);

}

._info-contato {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 22px;
    width: 100%;
    height: 100%;
}

._editar-contato {
    transition: .3s;
    position: absolute;
    right: 5px;
    height: 30px;
    width: 32px;
    border-radius: 50px;
    border: 1px solid gray;
}

._editar-contato:hover {
    background-color: white;
    box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.3);
}

/* Edição de dados do contato */
.textos-contato {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.nome-contato {
    font-weight: bold;
    height: 22px;
}

.mensagem-contato {
    opacity: .9;
    height: 24px;
    font-size: .9em;
}

.foto-contato {
    border-radius: 50px;
    width: 42px;
    height: 40px;
    border: 1px solid black;
    font-size: 1.4em;
}

.temporaryBottomContainer {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

.temporaryBottomContainer span {
    opacity: 0.6;
}

.temporaryBottomContainer button {
    transition: 0.2s;
    width: 80%;
    background: none;
    color: rgb(0, 0, 255);
    border: 2px solid rgb(132, 132, 255);
    margin-top: 8px;
}

.temporaryBottomContainer button:hover {
    border-radius: 8px;
}

.activated {
    background-color: rgb(233, 233, 233);
}

.conteudoPrincipalContato {
    overflow-y: scroll;
    height: 83.8%;
}

/* User Section */
._contactBar header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 105.2px;
    gap: 6px;
}

#pesquisaDeContato {
    height: 60px;
}

._perfilSection {
    width: 100%;
    height: 100%;
    padding: 0 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(0,0,204);
    background: linear-gradient(90deg, rgba(0,0,204,1) 75%, rgba(0,0,255,1) 100%);
    color: white;
}

.infoUser {
    display: flex;
    align-items: center;
    gap: 8px;
}

.userConfig {
    transition: .150s;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    /* box-shadow: 0 0 4px .5px rgba(0, 0, 0, 0.3); */ 
    border: none;
    background-color: rgb(235, 235, 235);
    cursor: pointer;
}

.userConfig:hover {
    background-color: rgb(215, 215, 215);
}

.nomeUsuario {
    font-weight: 500;
    font-size: 1.1em;
}

.notFound {
    width: 100%;
    font-size: 1.1em;
    opacity: 0.8;
    margin: 22px 0 16px 0;
}

.version {
    position: absolute;
    left: 12px;
    bottom: 12px;
    font-size: 0.6em;
    color: gray;
    text-decoration: underline;
    background-color: rgb(212, 212, 212);
    padding: 0 4px;
}


/* Responsividade */
@media (max-width: 1062px) {
    .mensagem-contato {
        font-size: 0.75em;
    }
}

@media (max-width: 632px) {
    ._contactBar {
        width: 100%;
    }

    .temporaryBottomContainer span {
        display: none;
    }
}
