._messageContainer {
    position: static;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    overflow-x: hidden;
    width: 70%;
    padding-top: 50px;

    background-color: rgb(243, 243, 243);
}

.messages {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 95%;
    padding: 5px 0;
}

/* Estilizações alternadas nas mensagens */
.message {
    position: relative;
    background-color: rgb(106, 106, 255);
    color: white;
    padding: 7px;
    border-radius: 12px;
    max-width: 45%;
}

.author {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 0;
}

.receiver {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 0;
    background-color: rgb(39, 39, 255);
}

/* ====================================== */

.linhaMensagem {
    display: flex;
    position: relative;
    width: 100%;
    height: auto;
    margin: 4px 0;
    padding: 0 5px;

    /* border: 1px solid black; */
}

.ladoDireito {
    justify-content: end;
}

.ladoEsquerdo {
    justify-content: start;
}

/* Responsividade */
@media (max-width: 632px) {
    ._messageContainer {
        width: 100%;
    }
}
