.barraDeEnvio {
    position: fixed;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    gap: 8px;
    width: 70%;
    height: 12%;
    /* border-top: 2px solid rgb(105, 160, 208); */
    box-shadow: 0 0 5px .5px rgba(0, 0, 0, 0.2);
    z-index: 1;

    background-color: rgb(223, 240, 255);
}

.barraDeEnvio input[type="text"] {
    border-radius: 14px;
    border: 1px solid rgb(207, 203, 255);
    width: 100%;
    margin-left: 10px;
    padding: 10px;
    height: 40px;
    color: rgb(64, 64, 64);
    outline: none;
}

.botaoDeEnvio {
    position: relative;
    transition: .2s;
    background-color: blue;
    color: white;
    border: 1px solid blue;
    border-radius: 50px;
    width: 50px;
    height: 37px;
    font-weight: bold;
    cursor: pointer;
    margin-right: 10px;
}

input[type="file"] {
  display: none;
}

.sendFileButton {
  transition: .2s;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(87, 87, 255);
  color: white;
  border-radius: 8px;
  width: 50px;
  height: 42px;
  margin-left: 12px;
  font-size: 1.3em;
  cursor: pointer;
}

.sendFileButton:hover {
 background-color: rgb(111, 111, 255);
}

.barraDeEnvio button:hover {
    background-color: rgb(75, 75, 255);
    border-color: rgb(75, 75, 255);
}

._listaDeComandos {
  width: 92%;
  position: absolute;
  bottom: 75px;
  background-color: white;
  color: black;
  border-radius: 8px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

._listaDeComandos li {
  border-bottom: 1px solid gray;
  padding: 6px;
}

._listaDeComandos li:hover {
  background-color: rgb(220, 220, 255);
}
  
._listaDeComandos h3 {
  font-size: 17px;
  margin: 0;
}

.animacaoErro {
    animation: erroEnvio .5s linear;
}

@keyframes erroEnvio {
    0% {
      transform: translateX(0px);
      timing-function: ease-in;
    }
    37% {
      transform: translateX(10px);
      timing-function: ease-out;
      background-color: red;
      border: 1px solid red;
    }
    55% {
      transform: translateX(-10px);
      timing-function: ease-in;
      background-color: red;
      border: 1px solid red;
    }
    73% {
      transform: translateX(6px);
      timing-function: ease-out;
    }
    82% {
      transform: translateX(-6px);
      timing-function: ease-in;
    }
    91% {
      transform: translateX(2px);
      timing-function: ease-out;
    }
    96% {
      transform: translateX(-2px);
      timing-function: ease-in;
    }
    100% {
      transform: translateX(0px);
      timing-function: ease-in;
    }
}